@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import 'about';
@import 'contact';
@import 'work';

body {
  margin: 0px;
  overflow: hidden;
}
.site__wrapper {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #7a93ac;

  .index__wrapper {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    height: 100vh;

    .index__left {
      width: 100%;
      height: 100%;
      padding: 0 15px;
      background-color: white;

      .index__left-image {
        background-image: url('https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&dpr=2');
        height: 100%;
        background-size: cover;
      }
    }

    .index__right {
      width: 100%;
      height: 100%;
      padding: 0 15px;
      background-color: white;
      font-family: 'Playfair Display', serif;
      color: #16262e;

      .svg {
        width: 100%;
        margin: 100px auto 30px;
        display: flex;
        justify-content: center;

        > svg {
          width: 45px;
          height: 50px;
          margin: 0 11px;

          path {
            fill: #3c7a89;
          }

          &:last-child {
            path {
              fill: #dbc2cf;
            }
          }
        }

        .symbol {
          padding-top: 14px;
          font-weight: 900;
        }
      }

      .github {
        margin-top: 16px !important;
      }

      .download {
        margin-top: 14px !important;
      }
      &-description {
        h1 {
          margin-bottom: 20px;
        }
        * {
          text-align: center;
          margin: 0;
          line-height: 30px;
        }
      }

      .link-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 20px auto;
        margin-bottom: 10px;
        font-family: 'Playfair Display', serif;
        color: #16262e;

        .link {
          line-height: 15px;
          color: #16262e;
          text-decoration: none;
          border: 1px solid #16262e;
          margin: 15px auto;
          padding: 15px;
          width: 130px;
          text-align: center;
          height: 16px;
          font-size: 14px;
          transition: all 0.4s ease-in-out;

          &:hover {
            background: #3c7a89;
            color: white;
            border: 1px solid #3c7a89;
          }
        }
      }

      .icon-wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;

        .icon {
          width: 20px;
          height: 15px;
          margin: 13px;
          padding: 5px;
        }
      }
    }
  }
}

.secondary__subtitle {
  font-style: italic;
}
