.site__left-panel {
  border: 1px solid green;
  height: 100vh;
  width: 50vw;
  padding: 100px;
  box-sizing: border-box;
  overflow: hidden;
}

.site__right-panel {
  border: 1px solid red;
  height: 100vh;
  width: 50vw;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0px;
  overflow: hidden;
}

.site__panel-container {
  display: flex;
  overflow: hidden;
}

.site__fast-facts {
  background: green;
  height: 500px;
  width: 100%;
}

.site__projects {
  background: blue;
  height: 500px;
  width: 100%;
}

.site__contact {
  background: yellow;
  height: 500px;
  width: 100%;
}