body {
  margin: 0px;
  overflow: hidden;
}
.site__wrapper {
  height: 100vh;
  width: 100vw;
  border: 1px solid blue;
  box-sizing: border-box;
  background-color: #f9f9f9;

  .index__wrapper {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    height: 100vh;

    .index__left {
      width: 50%;
      height: 100%;
      border: 1px solid red;
      padding: 0 15px;
      background-color: white;

      .index__left-image {
        background-image: url('https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&dpr=2');
        height: 100%;
        background-size: cover;
      }
    }
  
    .index__right {
      width: 50%;
      height: 100%;
      border: 1px solid green;
      padding: 0 15px;
      background-color: white;

      &-logo {
        text-transform: uppercase;
        padding-top: 100px;
        font-size: 12px;
        text-align: center;
        
      }

      &-description {
        p {
          width: 50%;
          margin: 0 auto;
          text-align: center;
          line-height: 18px;
        }
      }

      .link-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0 auto;

        .link {
          border: 1px solid black;
          margin: 15px auto;
          padding: 15px;
          width: 107px;
          text-align: center;
          height: 16px;
        }
      
      }

      .icon-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0px 200px;

        .icon {
          width: 40px;
          height: 40px;
          border: 1px solid black;
        }
      }
    }
  }
}